<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ project.name }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <mdb-carousel [controls]="false" [indicators]="true" [interval]="0" style="margin: 2% 10%; box-shadow: 10px 10px 5px lightgrey">
      <mdb-carousel-item *ngFor="let element of carouselItems">
        <div *ngIf="element.type === 'video'">
          <video width="320" height="240" controls style="width: 100%;">
            <source [src]="element.src" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </div>
        <div *ngIf="element.type === 'image'">
          <img [src]="element.src" class="d-block w-100" alt="..." style="width: 100%;" />
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    <div id="content"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
  </div>
</div>
