<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
      <h2 id="section-portfolio" style="text-decoration: underline; padding: 15px">PORTFOLIO</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>
      This portfolio is currently based on the projects I have developed during the Masters Degree on Videogames Design & Development at UOC (Universitat Oberta de Catalunya).
      All of these projects are made with Unity3D and all of them have allowed me to experiment with different packages and aspects of the game engine.
    </p>
  </div>
  <mdb-carousel [controls]="true" [indicators]="true" [interval]="0" style="margin: 2% 10%; box-shadow: 10px 10px 5px lightgrey" *ngIf="projectList != undefined">
    <mdb-carousel-item *ngFor="let project of projectList.projects">
      <img
        [src]="project.images"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block" (click)="openProjectDetailModal(project)">
        <h5>{{project.name}}</h5>
        <p>{{project.subtitle}}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
