<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
    <h2 id="section-about" style="text-decoration: underline; padding: 15px">ABOUT</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales mollis odio vel viverra. Donec mollis tempor diam sit amet scelerisque. Nunc dapibus lectus et vestibulum commodo. Nulla bibendum felis quis elementum efficitur. Phasellus egestas non ante et ultrices. Donec at risus ex. Aliquam nisl mauris, accumsan non aliquet in, viverra eu mi. Fusce quis egestas augue, et vulputate sapien. In suscipit turpis quis orci molestie pretium. Etiam tempus eu ex et euismod. Nam nec sem a urna sodales vestibulum. Nullam turpis mi, dignissim vel cursus vitae, congue at felis. Fusce bibendum justo nec nisi luctus hendrerit. Curabitur nec nibh id nisi dignissim sodales. Etiam at dui accumsan, sodales quam eu, pretium mauris. Curabitur pulvinar ipsum in nunc faucibus, vel sodales augue eleifend.

      In hac habitasse platea dictumst. Nunc in malesuada velit. Donec dignissim neque nec justo iaculis, id imperdiet turpis semper. Proin nisi lectus, consectetur quis mi et, posuere viverra tortor. Sed consectetur odio ut dolor rhoncus tempor. In enim massa, luctus et justo quis, ultricies tristique turpis. Morbi vitae sollicitudin nisl. Nunc egestas vulputate libero, aliquam euismod nunc. Duis tempus nec est eu consequat. Donec lacus ipsum, elementum ut justo vel, hendrerit porta diam. Aenean a nibh tristique est auctor tempus vehicula in tellus. Vestibulum neque nulla, dapibus a dui sit amet, ultrices consectetur dui. Phasellus ut risus pellentesque, finibus nunc nec, euismod orci.
    </p>
  </div>
  <div class="col-md-6">
    <p>
      Aliquam semper augue a urna tincidunt laoreet. Nam venenatis finibus felis, et placerat dui interdum non. Aliquam ac scelerisque augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam accumsan massa vitae elit mollis dignissim. Integer eu elit ac massa hendrerit tempor nec quis enim. Quisque non tincidunt velit, cursus maximus metus.

      Nunc vel dignissim libero. Fusce nec blandit lectus. Nullam finibus quis nisl vitae pellentesque. Donec ut pulvinar dui, ut viverra libero. Curabitur finibus ante bibendum, commodo dui sit amet, ullamcorper neque. Phasellus egestas, enim a sollicitudin laoreet, mi libero imperdiet magna, in vehicula metus odio sed tellus. Aliquam eleifend eu libero et facilisis. Nullam ut sollicitudin sem, tempus volutpat erat.

      Vivamus nisi augue, auctor ut ligula consequat, ultrices maximus nunc. Fusce ornare nisi eget massa venenatis, sit amet congue ipsum lacinia. Nullam lacinia rhoncus arcu eu ornare. Praesent gravida magna eu ipsum consequat sollicitudin. Phasellus dictum id mi sagittis condimentum. Fusce bibendum nisl vitae urna blandit dictum. Mauris lacus nisl, mattis eu ultricies et, efficitur a diam. Donec luctus magna eget purus fringilla, id sagittis purus vehicula. Mauris interdum varius sapien, nec aliquet erat rhoncus nec. Proin sed neque convallis, auctor mi ac, lobortis dolor. Phasellus diam enim, semper a mauris quis, semper pretium augue. Phasellus placerat diam at odio ornare feugiat. Ut vel magna vulputate, rhoncus nibh mollis, molestie lorem. Mauris rutrum cursus vestibulum. Phasellus consectetur eleifend placerat.
    </p>
  </div>
</div>
