<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
      <h2 id="section-about" style="text-decoration: underline; padding: 15px">ABOUT</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        Born in Arenys de Mar, Barcelona, in 1993, I have grown up enjoying music, reading from books to comics, watching films and playing videogames.
        I found fascinating the world of robotics and ended up studying a Degree in Informatics Engineering at UB (Universitat de Barcelona).
      </p>
      <p>
        At that point, I started having more and more interest in programming. It was awesome to be able to tell a computer how to do something even when part of the time was used in finding a bug of some sort.
      </p>
      <p>
        At the end of the Degree, I was able to enroll in an internship at a company as a programmer and ended up there for six years now. I have been participating in projects of all sorts, mainly developing webapps using Spring (Java) and Angular, in different hambits, from ehealth to environmental-friendly building maintainance and security.
      </p>
    </div>
    <div class="col-md-6" style="border-left: 2px solid lightgray">
      <p>
        I have always been interested in videogames and their development and started at the age of 16 experimenting with RPG Maker. The main goal was trying to make an ARPG similar to the saga The Legend of Zelda.
      </p>
      <p>
        The first time I had my hands on Unity was during my early twenties, it was a nice way to play arround with a serious game engine that allowed 2D and 3D development for all sorts of games and tools.
      </p>
      <p>
        Nowadays I find more appealing videogame related programming and to think how some of the features on the games I play lately were made. I ended up deciding to study a Masters Degree on Videogames Design & Development and a Unity Programming Certificate to focus my efforts and hoping it allows me to jump into a gamedev carreer.
      </p>
    </div>
  </div>
</div>
